@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
:root {
  --largura-m: 2200px;
  --gradiente: 90deg, #ff0000, #f66008;
  --gradient-click: 90deg, #ff00008a, #9b3b0491
}
* {
  padding: 0;
  margin: 0;
  font-family: "Sora", sans-serif;
}
body *{
  /* border: 1px solid ; */
}
header {
  max-width: var(--largura-m);
  height: auto;
  margin: auto;
}
ul {
  list-style: none;
  display: flex;
}
li {
  margin: 0 15px;
}
/* header *{
  border: 1px solid;
  margin: 2px ;
  padding: 2px;
} */
details{
  
}
nav {
  max-width: var(--largura-m);
  margin: auto;
  box-sizing: border-box;
  padding: 20px;
  box-shadow: 10px 0 10px 5px #00000028;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
a{
  text-decoration: none;
  color: #000;
}
.menu{
  /* width: 100%; */
  height: auto;
  box-sizing: border-box;
  display: none;
}
ul > li >a> button {
  margin-top: -30px;
  padding: 5px 20px;
  background: linear-gradient(var(--gradiente));
  color: #fff;
  border: transparent;
  font-weight: 500;
  border-radius: 5px;
}
.menu>ul>li:hover{
  color: #005577;
  text-decoration: underline;
  cursor: pointer;
}
ul > li >a> button:active{
  background: linear-gradient(var(--gradient-click));
  cursor: pointer;
}
.logo>h2{
  color: #000077;
  font-size: 1em;
}
.baner {
  margin-top: 50px;
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  box-sizing: border-box;
}
.chamada {
  /* padding: 0 80px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  box-sizing: border-box;

}
.chamada > h1 {
  font-size: 2em;
  background: linear-gradient(var(--gradiente));
  display: inline-block;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.chamada > p {
  color: #00000090;
  font-weight: 500;
  font-size: 1em;
}
.chamada > button {
  min-width: 150px;
  margin: 0 20px;
  /* max-width: 300px; */
  border-radius: 5px;
  border: transparent;
  background: linear-gradient(var(--gradiente));
  padding: 15px 10px;
  color: #fff;
  font-weight: 600;

  animation: saltar 1s infinite;
}
.chamada > button:active {
  background: linear-gradient(var(--gradient-click));
  cursor: pointer;
  animation: teste;

}
.cartaz {
  box-sizing: border-box;
  width: 100%;
  height: auto;
}
.cartaz > img {
  width: 100%;
}
.section{
  padding: 50px 0;
  width: 100%;
  height: auto;
}
main {
  max-width: var(--largura-m);
  margin: auto;
}
@keyframes saltar{
  0%{
    scale: 1;
  }
  50%{
    scale: 1.1;
  }
  100%{
    scale: 1;
  }
}
